/* All Header Stuff */

header {
    position: relative;
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    font-family: Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100px;
}

.headdiv {
    position: relative;
    height: 100%;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 22pt;
    font-style: bold;
    width: 200px;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
}

a {
    text-decoration: none;
}

nav {
    position: absolute;
    bottom: 30px;
    right: 0;
}

.navvv {
    font-size: 15pt;
    text-align: center;
    padding: 10px;
    display: inline;
}

.navvv a {
    color: #777777;
}

.navvv a:hover {
    color: #555555;
}

.border {
    border-right: 1px solid #cccccc;
}

h1 a {
    color: #ffffff;
}

/* All Page Stuff */

body {
    position: relative;
    min-height: 141.5vh;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/textured_paper.png");
}

.section {
    border: 2px solid #cccccc;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    background-color: #ffffff;
    font-size: 15pt;
    margin-top: 30px;
}

h2 {
    font-size: 24pt;
    color: #4aaaa5;
}

.title {
    border-bottom: 2px solid #cccccc;
    height: 50px;
    margin-bottom: 30px;
}

/* About Me Page */

.aboutme {
    color: #777777;
    overflow: auto;
}


#profile {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* Contact Page */

.form {
    font-size: 15pt;
    color: #777777;
    line-height: 1.5;
}

.name {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 30%;
}

.message {
    margin-top: 3px;
    width: 100%;
    height: 175px;
}

.submit {
    width: 100px;
    margin-top: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-bottom: 30px;
}

/* Portfolio Page */

.container {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

.imgtext {
    position: absolute;
    display: inline-block;
    bottom: 30px;
    width: 240px;
    background-color: #4aaaa5;
    padding: 20px;
    font-size: 20pt;
    color: #ffffff;
    text-align: center;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}