/* All Header Stuff */

header {
    position: relative;
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    font-family: Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100px;
}

.headdiv {
    position: relative;
    height: 100%;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 22pt;
    font-style: bold;
    width: 200px;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
}

a {
    text-decoration: none;
}

nav {
    position: absolute;
    bottom: 30px;
    right: 0;
}

.navvv {
    font-size: 15pt;
    text-align: center;
    padding: 10px;
    display: inline;
}

.navvv a {
    color: #777777;
}

.navvv a:hover {
    color: #555555;
}

.border {
    border-right: 1px solid #cccccc;
}

h1 a {
    color: #ffffff;
}

/* All Page Stuff */

body {
    position: relative;
    min-height: 100vh;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/textured_paper.png");
}


.section {
    border: 2px solid #cccccc;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    background-color: #ffffff;
    font-size: 15pt;
    margin-top: 30px;
}

h2 {
    font-size: 24pt;
    color: #4aaaa5;
}

.title {
    border-bottom: 2px solid #cccccc;
    height: 50px;
    margin-bottom: 30px;
}

/* About Me Page */

.aboutme {
    color: #777777;
    overflow: auto;
}


#profile {
    width: 225px; 
    height: auto;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* Contact Page */

.form {
    font-size: 15pt;
    color: #777777;
    line-height: 1.5;
}

.name {
    border: 1px solid #cccccc;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 30%;
}

.message {
    border: 1px solid #cccccc;
    margin-top: 3px;
    width: 100%;
    height: 175px;
}

.submit {
    width: 100px;
    margin-top: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-bottom: 30px;
}

/* Portfolio Page */

.container {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 280px;
    height: 280px;
}

.imgtext {
    position: absolute;
    display: inline-block;
    bottom: 30px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #4aaaa5;
    font-size: 20pt;
    color: #ffffff;
    text-align: center;
}

/* Footer */

.push {
    height: 150px;
}

footer {
    position: absolute;
    bottom: 0;
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    text-align: center;
    padding-top: 30px;
    color: #cccccc;
}

/* CSS for Browser (Max-width: 980px) */

@media screen and (max-width: 980px) {
    .headdiv {
        position: relative;
        height: 100%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 22pt;
        font-style: bold;
        width: 200px;
        height: 70px;
        padding-top: 30px;
        padding-bottom: 0px;
        padding-right: 30px;
        padding-left: 30px;
        background-color: #4aaaa5;
        text-align: center;
        color: #ffffff;
    }

    nav {
        position: absolute;
        bottom: 40px;
        right: 0;
    }

    .section {
        border: 2px solid #cccccc;
        margin-left: 5%;
        margin-right: auto;
        width: 64%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: #ffffff;
        font-size: 15pt;
        margin-top: 30px;
    }

    .container {
        position: relative;
        display: inline-block;
        margin-left: 2%
    }
    
    .imgtext {
        position: absolute;
        display: block;
        bottom: 30px;
        width: 280px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #4aaaa5;
        font-size: 20pt;
        color: #ffffff;
        text-align: center;
    }

    .right {
        margin-right: 0%
    }


}

/* CSS for Tablet (max-width: 768px */

@media screen and (max-width: 768px) {
    .headdiv {
        position: relative;
        height: 100%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 22pt;
        font-style: bold;
        width: 200px;
        height: 70px;
        padding-top: 30px;
        padding-bottom: 0px;
        padding-right: 30px;
        padding-left: 30px;
        background-color: #4aaaa5;
        text-align: center;
        color: #ffffff;
    }

    .section {
        border: 2px solid #cccccc;
        margin-left: auto;
        margin-right: auto;
        width: 84%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: #ffffff;
        font-size: 15pt;
        margin-top: 30px;
    }

    nav {
        position: absolute;
        bottom: 40px;
        right: 0;
    }

    .container {
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        margin-left: 2.5%;
    }
    
    .imgtext {
        position: absolute;
        display: block;
        bottom: 30px;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #4aaaa5;
        font-size: 20pt;
        color: #ffffff;
        text-align: center;
    }

    .right {
        margin-right: 0%;
    }
}

/* CSS for Mobile (max-width: 640px) */

@media screen and (max-width: 640px) {
    header {
        position: relative;
        border-bottom: 1px solid #cccccc;
        background-color: #ffffff;
        font-family: Georgia, Times, 'Times New Roman', serif;
        width: 100%;
        height: 100px;
    }
    
    .headdiv {
        position: relative;
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        position: absolute;
        top: 0;
        font-size: 22pt;
        font-style: bold;
        width: 100%;
        height: 40px;
        padding-top: 12px;
        padding-bottom: 0px;
        padding-right: 00px;
        padding-left: 00px;
        background-color: #4aaaa5;
        text-align: center;
        color: #ffffff;
    }
    
    a {
        text-decoration: none;
    }
    
    nav {
        position: absolute;
        bottom: 14px;
        width: 100%;
        text-align: center;
    }
    
    .navvv {
        font-size: 15pt;
        text-align: center;
        padding: 10px;
        display: inline;
    }
    
    .navvv a {
        color: #777777;
    }
    
    .navvv a:hover {
        color: #555555;
    }
    
    .border {
        border-right: 1px solid #cccccc;
    }
    
    h1 a {
        color: #ffffff;
    }
    
    /* All Page Stuff */
    
    body {
        position: relative;
        min-height: none;
        background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/textured_paper.png");
    }
    
    .section {
        border: 1px solid #cccccc;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        padding: 15px;
        background-color: #ffffff;
        font-size: 15pt;
        margin-top: 12px;
    }
    
    h2 {
        font-size: 22pt;
        color: #4aaaa5;
    }
    
    .title {
        border-bottom: 1px solid #cccccc;
        height: 40px;
        padding-top: 15px;
        margin-bottom: 20px;
    }
    
    /* About Me Page */
    
    .aboutme {
        color: #777777;
        overflow: auto;
    }
    
    
    #profile {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    
    /* Contact Page */
    
    .form {
        font-size: 15pt;
        color: #777777;
        line-height: 1.5;
    }
    
    .name {
        border: 1px solid #cccccc;
        margin-top: 3px;
        margin-bottom: 3px;
        width: 100%;
    }
    
    .message {
        border: 1px solid #cccccc;
        margin-top: 3px;
        width: 100%;
        height: 100px;
    }
    
    .submit {
        width: 100px;
        margin-top: 15px;
        background-color: #4aaaa5;
        color: #ffffff;
        margin-bottom: 0px;
    }
    
    /* Portfolio Page */
    
    .container {
        position: relative;
        display: block;
        margin-left: 6%;
        margin-right: auto;
        margin-bottom: 15px;
    }
    
    .imgtext {
        position: absolute;
        display: block;
        bottom: 10px;
        width: 280px;
        background-color: #4aaaa5;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20pt;
        color: #ffffff;
        text-align: center;
    }
    
    /* Footer */
    
    footer {
        position: absolute;
        bottom: 0;
        border-top: 10px solid #4aaaa5;
        background-color: #666666;
        width: 100%;
        height: 50px;
        margin-top: 30px;
    }
}